html, body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

hr {
  margin: 0;
  border-color: #3a0000;
  border-style: solid;
  box-shadow: 0 0 5px #555;
}

h1 {
  text-shadow: 0 0 3px #222;
  color: white;
}

p {
  color: white;
}

.nav-pills {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
  width: 100%;
}

.intro {
  background: url("../img/background.jpg");
}

.intro div {
  background: rgba(30, 30, 30, 0.5);
  min-height: 500px;
  height: 100vh;
  color: white;
}

.content {
  margin: 0;
}

.half {
  float: left;
  width: 50%;
  min-height: 500px;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  background-color: rgba(40, 0, 0, 0.9);
  box-shadow: inset 0 0 15px #300;
}

.half p {
  margin: 5px;
}

.lighter {
  background-color: rgba(50, 0, 0, 0.9);
}

.pictureFrame {
  text-align: center;
}

.pictureFrame img {
  border-radius: 50%;
  box-shadow: 0 0 10px #555;
  width: 200px;
  margin-top: 10%;
}

.pictureFrame h3, .pictureFrame p {
  font-family: 'Averia Serif Libre', cursive;
  text-shadow: 0 0 7px #555;
}

/*progress circles*/
@-webkit-keyframes
animate { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes
animate { 0% {
stroke-dashoffset:0
}
}
@keyframes
animate { 0% {
stroke-dashoffset:0
}
}

.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

.progress>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}

.progress>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}

.progress>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 2.5rem;
  left: 0;
  font-size: 1.5rem;
  text-align: center;
}

.progress svg {
  width: 7rem;
  height: 7rem;
}

.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 629;
  stroke: rgba(0, 0, 0, 0.9);
}

.progress.animate svg:nth-child(2) path {
  -webkit-animation: animate 2s;
  -moz-animation: animate 2s;
  -o-animation: animate 2s;
  animation: animate 2s;
}

/* For computer windows narrower than 1000px */
@media screen and (max-width: 1000px) {
  .half {
    width: 100%;
    box-shadow: 0 0 5px #333;
    height: 100vh;
  }
  .pictureFrame img {
    margin-top: 100px;
  }
}

@media screen and (max-device-width: 1000px) and (orientation: portrait) and (min-resolution: 164dpi) {
  .container {
    max-width: 1000px;
  }
  .half {
    width: 100%;
    box-shadow: 0 0 5px #333;
    height: 100vh;
    background-color: #159;
  }
  .progress svg {
    width: 4rem;
    height: 4rem;
  }
  .nav.nav-pills {
    font-size: 10px;
    font-weight: bold;
  }
  .pictureFrame img {
    margin-top: 25%;
  }
  .progress>li:after {
    top: 1.3rem;
    font-size: 1rem;
  }
}

@media screen and (max-device-width: 500px) and (orientation: landscape) and (max-resolution: 230dpi) {
  .intro {
    height: 200vh;
  }
  .intro div {
    height: 200vh;
  }
  .half {
    width: 100%;
    box-shadow: 0 0 5px #333;
    height: 200vh;
    background-color: #440;
  }
  .progress svg {
    width: 4rem;
    height: 4rem;
  }
  .nav.nav-pills {
    font-size: 10px;
    font-weight: bold;
  }
  .pictureFrame img {
    margin-top: 10%;
  }
  .progress>li:after {
    top: 1.3rem;
    font-size: 1rem;
  }
}

/*----------Floating animation----------*/
.floating {
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
