html, body {
  margin: 0;
}
body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

hr {
  margin: 0;
  border-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  box-shadow: 0 0 5px #335;
}

h1 {
  text-shadow: 0 0 3px #300;
  color: #300;
}

ul {
  list-style-type: none;
}

.nav-pills {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 0;
  width: 100%;
}

.intro {
  background: url("../img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.intro div {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 500px;
  height: 100vh;
}

.half {
  float: left;
  width: 50%;
  min-height: 500px;
  height: 100vh;
  text-align: center;
  background-color: #eee;
  box-shadow: inset 0 0 10px #335;
}

.half h1 {
  margin-top: 100px;
}

.half p {
  margin: 5px 30px;
  line-height: 3em;
}

.half#contacts a img {
  width: 32px;
  margin-right: 1em;
}

p.left {
  float: left;
  min-width: 125px;
  border-right: 1px #aaa solid;
  margin: 0;
}

p.right {
  text-align: right;
  margin-right: 5em;
}

.lighter {
  background-color: #ddd;
}

.pictureFrame {
  text-align: center;
}

.pictureFrame img {
  border-radius: 50%;
  box-shadow: 0 0 15px #300;
  width: 200px;
  margin-top: 10%;
}

.pictureFrame h3, .pictureFrame p {
  font-family: 'Averia Serif Libre', cursive;
  text-shadow: 0 0 7px #555;
  color: white;
}

/*progress circles*/
@-webkit-keyframes
animate { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes
animate { 0% {
stroke-dashoffset:0
}
}
@keyframes
animate { 0% {
stroke-dashoffset:0
}
}

.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

.progress>li {
  display: inline-block;
  position: relative;
  font-family: Lato;
  font-weight: 100;
  margin: 2em;
}

.progress>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2em;
  font-weight: 600;
  color: #400;
}

.progress svg {
  width: 6em;
  height: 6em;
}

.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 11;
  stroke-dasharray: 629;
  stroke: #ccc;
}

.progress.animate svg:nth-child(2) path {
  -webkit-animation: animate 2s;
  -moz-animation: animate 2s;
  -o-animation: animate 2s;
  animation: animate 2s;
}

/* For screens narrower than 1000px */
@media screen and (max-width: 1000px) {
  .half {
    width: 100%;
    height: 100vh;
  }
  .pictureFrame img {
    margin-top: 10em;
  }
}

/*tablets*/
@media screen and (min-device-width: 661px) and (max-device-width: 1000px) and (orientation: portrait) {
  .progress svg {
    width: 7em;
    height: 7em;
  }
  .nav.nav-pills {
    font-weight: bold;
  }
  .pictureFrame img {
    margin-top: 25%;
  }
}

/*Smartphones in portrait view*/
@media screen and (max-device-width: 660px) and (orientation: portrait) {
  .intro {
    height: 100vh;
  }
  .intro div {
    height: 100vh;
  }
  .half h1 {
    margin-top: 15%;
  }
  .half {
    width: 100%;
    height: 100vh;
  }
  ul {
    padding-left: 0;
  }
  p.right {
    margin-right: 1em;
  }
  .progress {
    margin-top: 0;
  }
  .progress svg {
    width: 3em;
  }
  .nav.nav-pills {
    font-size: 0.8em;
    font-weight: bold;
  }
  .pictureFrame img {
    margin-top: 20%;
  }
  .nav > li > a {
    padding: 7px 8px;
  }
}
/*Smartphones in landscape view*/
@media screen and (max-device-width: 660px) and (orientation: landscape) {
  .half h1 {
    margin-top: 1.2em;
  }
  .pictureFrame img {
    width: 120px;
    margin-top: 10%;
  }
  .progress svg {
    width: 5em;
  }
}

/*----------Floating animation----------*/
.floating {
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
    -webkit-transform: translateY(0%);
	}
	50% {
    -webkit-transform: translateY(10%);
	}
	100% {
    -webkit-transform: translateY(0%);
	}
}

/*----------Slide right animation----------*/
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(0%);
	}
	50%{
		transform: translateX(4%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-1%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(0%);
	}
	50%{
		-webkit-transform: translateX(4%);
	}
	65%{
		-webkit-transform: translateX(-2%);
	}
	80%{
		-webkit-transform: translateX(2%);
	}
	95%{
		-webkit-transform: translateX(-1%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*----------Slide left animation----------*/
.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(0%);
	}
	50%{
		transform: translateX(-4%);
	}
	65%{
		transform: translateX(2%);
	}
	80%{
		transform: translateX(-2%);
	}
	95%{
		transform: translateX(1%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(0%);
	}
	50%{
		-webkit-transform: translateX(-4%);
	}
	65%{
		-webkit-transform: translateX(2%);
	}
	80%{
		-webkit-transform: translateX(-2%);
	}
	95%{
		-webkit-transform: translateX(1%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
